$black: #333333;
$dark-grey: #666666;
$light-grey: #e5e5e5;
$white: #ffffff;
$brand-color: #8a29b1;
$grey: #999999;
$primary-brand-color: #8e0c99;
$notification-background: #1e1e1e;
$violet: #945bf0;
$green: #b5e156;
$yellow: #ffdb1f;
$blue-2: #546df5;
$secondary-colour-blue: #3e97ff;
$blue: #6ec5f5;
$orange: #f4893b;
$progress: #48e674;
$error: #fd6060;